.button {
  background-color: transparent;
}

.form {
  font-family: Nunito, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.input {
  margin: .25rem .5rem;
}