.text {
  font-family: 'Nunito', sans-serif;
  font-size: 2.2em;  
  color: rgb(81, 103, 109);
  text-transform: lowercase;
  text-align: center;
  padding: 20px 20px;
}

.container {
  background: linear-gradient(to bottom, rgba(138, 172, 182, .9), rgba(255, 255, 255, 0.0));
}