.link {
	color: black;
	text-decoration: none;
}

.text {
	text-transform: lowercase;
	font-size: 1rem;
	text-align: center;
	font-family: Nunito, sans-serif;
}

.container {
	position: fixed;
	padding-top: 0.8rem;
	bottom: 0;
	width: 100%;
	background-color: rgba(81, 103, 109, .5);
}
