div {
	padding: 0;
}

.card {
	margin-left: auto;
	margin-right: auto;
	width: 28%;
	height: auto;
	min-width: 300px;
	max-width: 500px;
	text-align: center;
	font-family: Nunito, sans-serif;
	font-size: 1.2rem;
	text-transform: lowercase;
}

.cardContainer {
	border: 2px solid red;
	display: flex;
	flex-direction: row;
}
