div {
	padding: 0;
}

.loadingContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  margin: 20px;
}

.cardContainer {
	display: flex;
}

@media (max-width: 1000px) {
	.cardContainer {
		display: flex;
		flex-direction: column;
		margin-bottom: 4rem;
	}
}
